@import "look-and-feel.css";

:root {
    --Windows-destructive_action: #C42B1C;
    --window_control_hover: rgba(255, 255, 255, 0.1);
}

window {
    background: var(--Windows-background);
    color: var(--Windows-foreground);
}

headerbar {
    background: var(--Windows-accent);
    color: var(--contrasts_with_Windows_accent);
}

windowcontrols button {
    color: var(--contrasts_with_Windows_accent);
    border-radius: 0px;
    padding: 8px 20px;
    margin: 0;
}

headerbar:backdrop {
    background: var(--Windows-background);
    color: var(--Windows-foreground);
}

windowcontrols:backdrop button {
    color: var(--Windows-foreground);
}

windowcontrols button:hover {
    background: var(--window_control_hover);
}

windowcontrols button.close:hover {
    background: var(--Windows-destructive_action);
}

windowcontrols button:hover image {
    background: none;
}
